*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #362525;
	--red-color: #F21818;
	--background-fill: #050403;
	--light-brown: #5E3B3B;
}


.hero {
	height: 100vh;
	width: 100%;
	background-image: url(../images/wallpaper.jpg);
	background-size: cover;
	background-position: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer; 
	position: sticky;
}

span {
	color: red;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: red;
	transition: 2s;
}

.btn {
	background-color: red;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}

.btn:hover {
	background-color: white;
	color: black;
	transform: scale(1.2);
	transition: 1s;
}

.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

h1 {
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}

.aboutpage{
	color: white;
	padding-right: 60%;
}

.btn2 {
	background-color: red;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
	top: 50px;
}