.header {
  background-color: #362525;
    position: fixed;
    width: 100%;
    height: 100px;
    padding:0px;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
  }

  .header nav ul {
    position: relative;
    top: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
  }
  
  .header nav ul li {
    padding-right: 100px;
    margin: 10px 1rem;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header nav ul li a:hover {
    color: #eb0707;
  }

  .header_button{
    background-color: red;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}

.header_button:hover {
	background-color: white;
	color: black;
	transform: scale(1.2);
	transition: 1s;
}

  .logo{
    width: 75px;
    position: absolute;
    left: 60px;
    Top: 6px;
  }

 