/*
.Section_1{
    padding-top: 25px;
    margin: 0;
    position: relative;
    height: 200px;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
}*/



.section_1{
    background-color: #F2D9B2;
    
}

.products{
    text-align: center;
    text-decoration: solid;
    font-size: 200%;
    padding-top: 2% ;
    
}

.container_section1{
    display: flex;
    justify-content: center;
}

.con_sec_1{
    margin-left: 100px;
    padding: 50px;
    text-decoration: none;
}

.con_sec_2{
    padding: 50px;
    text-decoration: none;
}

.con_sec_3{
    align-items: center;
    margin-right: 100px;
    padding: 50px;
    text-decoration: none;
}

.sec1_image1{
    display: block;
  margin: 0 auto;
    width: 90%;
    justify-content: center;
    transition: all 0.6s ease;
}

.sec1_image1:hover {
	transform: scale(1.1);
  }

.para_text{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}


.sec_1_text{
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
}

h1{
    font-size: 51px;
    margin-top: 100px ;
}

.select-cake-button{
    display: block;
  margin: 0 auto;
    background-color: red;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}


a {
    text-decoration: none;
}

.select-cake-button:hover {
	background-color: white;
	color: black;
	transform: scale(1.2);
	transition: 1s;
}

p {
    font-size: 15px;
    padding: 5%;
}


  